<h1 class="h1" style="text-align: center;">Regras do jogo</h1>

<div class="main-rule" style="padding-right: 10rem;">
  <h3 class="h3">Modo de Jogar</h3>
  <ul class="game-mode">
    <p>
      O jogo será em turnos,
      onde o jogador e um inimigo batalham até que os pontos de vida de um deles chegue a zero,
      o usuário pode interagir através de botões que executarão ações variadas e em seguida a ação do monstro será tomada automaticamente pela aplicação.
    </p>
  </ul>

  <h3 class="h3">Ações do Jogador</h3>
  <div class="row justify-content-around comands-list">
    <button type="button" class="btn col-2 btn-danger">Ataque</button>
    <button  type="button" class="btn col-2 btn-warning" style="color: white;">Ataque Especial</button>
    <button type="button" class="btn col-2 btn-success">Curar</button>
    <button type="button" class="btn col-2 btn-secondary">Desistir</button>
  </div>
  <div class="actions-player">
    <ul>
      <h5 style="margin-top: 1rem;">Ataque Básico</h5>
      <p>O jogador irá causar um dano no inimigo que será reduzido dos pontos de vida do mesmo, o dano será aleatoriamente entre 5 e 10.</p>

      <h5 style="margin-top: 1rem;">Ataque Especial</h5>
      <p>O jogador irá causar um dano no inimigo que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 10 e 20.</p>
      <p>O ataque especial necessita de no mínimo 2 turnos após utilização e deverá estar desabilitado enquanto não carregado,
        ou seja, o botão não pode ser acionado por 2 turnos após sua utilização.</p>

      <h5 style="margin-top: 1rem;">Curar</h5>
      <p>O jogador receberá um aumento nos seus pontos de vida que deverá ser um valor randômico entre 5 e 15.</p>

      <h5 style="margin-top: 1rem;">Desistir</h5>
      <p>O jogo sairá e irá para a tela de inicio</p>
    </ul>
  </div>

  <h3 class="h3">Ações do Inimigo</h3>
  <div class="actions-enemy">
    <ul>
      <h5>Ataque Básico</h5>
      <p>O inimigo irá causar um dano no jogador que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 6 e 12.</p>

      <h5>Ataque Especial</h5>
      <p>O inimigo irá causar um dano no jogador que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 8 e 16.</p>
      <p>O ataque especial do inimigo é acionado automaticamente a cada 3 turnos.</p>
  </ul>
  </div>
</div>
