<div class="main-rule">
  <h1 class="h1">Regras do jogo</h1>

  <h3 class="h3">Modo de Jogar: </h3>
  <ul class="game-mode">
    <li>O jogo deverá ser de turnos, sendo cada turno uma interação do jogador e uma interação automática do inimigo.</li>
    <li>O jogador e o inimigo deverão ter uma barra de vida, ambos terão a mesma quantidade de pontos de vida (100).</li>
  </ul>

  <h3 class="h3">Ações do Jogador:</h3>
  <div class="actions-player">
    <h5>Ataque Básico</h5>
    <p>O jogador irá causar um dano no inimigo que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 5 e 10.</p>

    <h5>Ataque Especial</h5>
    <p>O jogador irá causar um dano no inimigo que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 10 e 20.</p>
    <p>O ataque especial necessita de no mínimo 2 turnos após utilização e deverá estar desabilitado enquanto não carregado, ou seja, o botão não pode ser acionado por 2 turnos após sua utilização.
      Ao acionar o ataque especial o inimigo tem 50% de chance de não atacar no próximo turno, e deve ser apresentado um indicativo de que o inimigo está atordoado</p>

    <h5>Ataque Básico</h5>
    <p>O jogador irá causar um dano no inimigo que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 5 e 10.</p>

    <h5>Ataque Básico</h5>
    <p>O jogador irá causar um dano no inimigo que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 5 e 10.</p>

  </div>

  <h3 class="h3">Modo de Jogar: </h3>
  <ul class="game-mode">

  </ul>
  <p>
    O jogador deverá ter 4 botões de interação a seguir:



    O ataque especial necessita de no mínimo 2 turnos após utilização e deverá estar desabilitado enquanto não carregado, ou seja, o botão não pode ser acionado por 2 turnos após sua utilização.
    Ao acionar o ataque especial o inimigo tem 50% de chance de não atacar no próximo turno, e deve ser apresentado um indicativo de que o inimigo está atordoado (Opcional).
    Curar
    O jogador receberá um aumento nos seus pontos de vida que deverá ser um valor randômico entre 5 e 15.
    Desistir
    O jogo deverá ser terminado e ir para tela de inicio do jogo
    Ações do inimigo
    As ações do inimigo devem acontecer automaticamente, logo após uma das ações do jogador, ou seja, se os pontos de vida do inimigo atingirem zero antes da sua ação ele não deve realizar a mesma
    O inimigo pode realizar as seguintes ações:
    Ataque Básico
    O inimigo irá causar um dano no jogador que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 6 e 12.
    Ataque Especial
    O inimigo irá causar um dano no jogador que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 8 e 16.
    O ataque especial do inimigo deverá ser acionado automaticamente a cada 3 turnos.</p>
</div>
